.container-header {
    width: 100%;
    height: 15vh;
    background-color: #5963bb;
    color:#f4f4f4;
    display: flex;
    align-content: center;
    justify-content: center;
}




.header_info {
 
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    align-items: center;
}


.small-favorites {
    display: flex;
    align-self: center;
    margin-right: 1em;
    font-weight: bolder;
    height: 100%;
   
}

a:visited {
    color:#f4f4f4;
}
.header_info .list-container {
    display: flex;
    justify-content: center;
  

}

.header_info .list-container ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-content: center;

}

.header_info .list-container ul li {
    margin: 1em;
    font-size: 1.3em;
    letter-spacing: 3px
};


