@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}


html {
    width: 100%;
    background-color: #FAEEE7;
}

.logo {
    letter-spacing: 3px;
    font-weight: bolder;
}
form {
    margin-top: 3em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form h1 {
    text-align: center;
    margin-bottom: 1em;
}

form input {
    width: 20%;
    padding: 0.3em
}

form button {
    font-weight: bold;
    padding: 0.3em;
    margin: 1em;
    width: 20%;
    background-color: black;
    color: white;
}

ul li {
    font-size: 1.3em;
    text-decoration: none;
    list-style: none;

}

.league-container {
    padding-top: 3em;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

a:visited {
    color: #fafafa
}



.card:hover {
    background-color: #030303;
    color: #fafafa;
    opacity: 0.9;
    transition: 0.5s
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80vh;
}


.description-genres {

    padding: 3em;
    margin-top: 3em
}

.title-image h1 {
    letter-spacing: 1px;
}

.header_info a:hover,
nav ul a:hover,
nav ul a li:hover {
    color: #fafafa;
    text-decoration: none;
}



.image-detail {
    width: 400px;
    height: 350px
}



.favorite-image {
    width: 500px;
    height: 350px
}


.description-genres p {
    font-size: 1em;
    line-height: 1.6em;
}

.heart-icon-div {
    position: absolute;
    width: 100%;
    padding: 0.5em;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}



@media only screen and (max-width: 600px) {
    .league-container {
        width: 100%;
    }

    .input-search {
        width: 70%;
    }

    div .header_info {
        width: 80%;
    }

    .header_info h2 {
        margin-top: 0.2em;
    }

    .favorite-image {
        width: 100%;
        height: 250px
    }
    


}