* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
    margin-top:3em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form h1 {
    text-align: center;
    margin-bottom: 1em;
}

form input {
    width: 20%;
    padding:0.3em
}

form button {
    font-weight: bold ;
    padding:0.3em;
    margin:1em;
    width: 20%;
    background-color: black;
    color:white;
}
ul li {
    font-size:1.3em;
    text-decoration: none;
    list-style: none;
 
}

.league-container {
    padding-top:3em;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

a:visited {
    color:#fafafa
}



.card:hover {
    background-color: #030303;
    color:#fafafa;
    opacity: 0.9;
    transition: 0.5s
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
 
    height: 80vh;
}


.description-genres {

    padding:3em;
    margin-top: 3em
}

.header_info a:hover, nav ul a:hover, nav ul a li:hover {
  color: #fafafa;
  text-decoration: none;
}



.image-detail {
    width: 400px;
    height: 350px
}

.card {
    height: auto;
}


.description-genres p {

    font-size: 1em;;
}

.heart-icon-div {
    position: absolute;
    width: 100%;
    padding:0.5em;
    display: flex;
    justify-content: end;
    cursor: pointer;
}