@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html {
    width: 100%;
}

.card {
    margin:1em;
}

.logo {
    font-weight: bolder;
}
form {
    margin-top: 3em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form h1 {
    text-align: center;
    margin-bottom: 1em;
}

form input {
    width: 20%;
    padding: 0.3em
}

form button {
    font-weight: bold;
    padding: 0.3em;
    margin: 1em;
    width: 20%;
    background-color: black;
    color: white;
}

.information p {
    font-size:1.1em
}

ul li {
    font-size: 1.3em;
    text-decoration: none;
    list-style: none;

}

.league-container {
    padding-top: 1.5em;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}


.card:hover {
    background-color: #030303;
    color: #fafafa;
    opacity: 0.9;
    transition: 0.5s
}


.movie-details {
    position: relative;
    top:2em;
    display: flex;
    margin: 0 auto;
    width: 60%;
    height: 80vh;
    flex-direction: column;
 

}

.title-movie {
    margin:2em;
    letter-spacing: 2px;
    font-weight: bolder;
}
.description-genres {
    
    padding: 1em;

}



.detail-image {
   height: 500px;
}

.title-image h1 {
    letter-spacing: 1px;
}

.header_info a:hover,
nav ul a:hover,
nav ul a li:hover {
    color: #fafafa;
    text-decoration: none;
}



.image-detail {
    width: 400px;
    padding:1em;
    height: 400px;
    margin:0 auto;
}



.favorite-image {
    width: 500px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


.description-genres p {
    font-size: 1em;
    line-height: 1.6em;
    font-weight: 600;
}



.heart-icon-div {
    position: absolute;
    width: 100%;
    padding: 0.5em;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}




@media only screen and (max-width: 600px) {
    .league-container {
        width: 100%;
    }

    .input-search {
        width: 70%;
    }

    div .header_info {
        width: 80%;
    }

    .header_info h2 {
        margin-top: 0.2em;
    }

    .favorite-image {
        width: 100%;
        height: 250px
    }
    

    .movie-details {
        width: 100%;
        height: auto;
        padding:1em;

    }

    .image-detail {
        width: 350px;
        
    }
    .detail-image {
        height: 350px;
    }

    .title-movie {
        margin:1em
    }

}